@media screen and (max-width: 350px) {
    header .container .logo {
        color: var(--roxo);
        font-family: 'Times New Roman', Times, serif;
    }
    
    .container .receitas {
        border: 3px solid var(--azul);
        align-items: flex-start;
        max-width: 100%;
        margin: 10px;
        padding-left: 20px;
    }

    .container .receitas li { 
        margin-left: 20px;
    }
}

@media screen and (min-width: 350px) {
    header .container .logo {
        color: var(--roxo);
        font-family: 'Times New Roman', Times, serif;
    }
    
    .container .receitas {
        border: 3px solid var(--azul);
        align-items: flex-start;
        max-width: 100%;
        margin: 10px;
        padding-left: 20px;
    }

    .container .receitas li { 
        margin-left: 20px;
    }
}

@media screen and (max-width: 700px) {
    header .container .logo {
        color: var(--roxo);
        font-family: 'Times New Roman', Times, serif;
        margin-left: 5%;
    }
    
    .container .receitas {
        border: 3px solid var(--azul);
        max-width: 95%;
        margin: 10px 5%;
    }

    .container .receitas li { 
        margin-left: 20px;
    }
}

@media screen and (min-width: 700px) {
    header .container .logo {
        color: var(--roxo);
        font-family: 'Times New Roman', Times, serif;
        margin-left: 15%;
    }
    
    .container .receitas {
        border: 3px solid var(--azul);
        max-width: 85%;
        margin: 15px 15%;
    }
}    

@media screen and (min-width: 1000px) {
    header .container .logo {
        color: var(--roxo);
        font-family: 'Times New Roman', Times, serif;
        margin-left: 25%;
    }
    
    .container .receitas {
        border: 3px solid var(--azul);
        max-width: 75%;
        margin: 10px 25%;
    }
}