@media screen and (max-width: 700px) {
    header .logo {
        color: var(--roxo);
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        margin-left: 5%;
    }
    
    header nav a {
        margin-right: 27px;
        font-size: 15px;
    }
    
    header nav a:hover {
        color: var(--preto);
    }
    
    .container .receitas {
        border: 3px solid var(--azul);
        max-width: 95%;
        margin: 10px 5%;
    }
}

@media screen and (min-width: 700px) {
    header .logo {
        color: var(--roxo);
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        margin-left: 15%;
    }
    
    header nav a {
        margin-right: 27px;
        font-size: 15px;
    }
    
    header nav a:hover {
        color: var(--preto);
    }
    
    .container .receitas {
        border: 3px solid var(--azul);
        max-width: 85%;
        margin: 15px 15%;
    }
}    

@media screen and (min-width: 1000px) {
    header .logo {
        color: var(--roxo);
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
        margin-left: 25%;
    }
    
    header nav a {
        margin-right: 27px;
        font-size: 15px;
    }
    
    header nav a:hover {
        color: var(--preto);
    }
    
    .container .receitas {
        border: 3px solid var(--azul);
        max-width: 75%;
        margin: 10px 25%;
    }

}